body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #628fdc;
  color: #264bc6;
}

#button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 15px;              
}


